<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js">
</script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="./icon/flag-icons-master/css/flag-icon.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Елани</title>
</head>
<body>

    <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#">Елани</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a id="navAbout" class="underlineNavItem nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="underlineNavItem nav-item">
              <a id="navProducts" class="nav-link" href="products.html">Products</a>
            </li>

            <li class="underlineNavItem nav-item">
                <a id="navContact" class="nav-link" href="contact.html">Contact Us</a>
            </li>

            <li class="nav-item dropdown">
              <a class="lngIcon nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <span id="eng" class="dropdown-item"> <img class="loption" src="icon/ENG.png"> English </span>
                <span id="bg" class="dropdown-item"> <img class="loption" src="icon/BG.png"> Български </span>       
              
            </li>
          </ul>         
        </div>

        
        </div>
      </nav>

      <section id="hero">
          <div class="container c6">
              <div class="row">
                  <div class="col-md">
                      <h1 id="abouth1">Who we are</h1>
                      <p id="aboutus" class="info">
                        We are a family from Bulgaria that has been rescuing homeless animals for years. Discarded, newborn, maimed, run over...
                        The number never drops below 20+, so our costs are huge. Until recently, we managed with personal funds, but in the
                        last two years, it has been unaffordable, especially after 3 consecutive cases of cats with FIP in the past year (2021).
                        In order to be able to continue helping, we have started making wrought iron products, the sale of which will support
                        the animals we take in. Beds, dog and cat feeders, cat shaped planters, wall hangers, as time goes on I hope our range
                        will expand. Everything is handmade, powder coated, wrought iron. Please take a look, and if you fancy something, you
                        can order on Viber or Whatsapp- 0898868694 (still only there)                       
                      </p>
                  </div>
                  <div class="col">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="./images/ela1.jpg" alt="First slide" style="width:30vw;height:50vh;">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="./images/ela3.jpg" alt="Second slide" style="width:30vw;height:50vh;">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="./images/ela2.jpg" alt="Third slide" style="width:30vw;height:50vh;">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="./images/ela.jpg" alt="Third slide" style="width:30vw;height:50vh;">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <footer id="footer" class="navbar-dark  bg-dark">
       
        <p class="text-muted mb-0 py-2">Copyright &copy; <script>document.write(new Date().getFullYear())</script>, Za Elani</p>
      
      </footer>
</body>
<script type="module" src="./elani.js"></script>
</html>